function Main.main 0
push constant 8001
push constant 16
push constant 1
call Main.fillMemory 4
push constant 8000
call Main.convert 7
return
push constant true
push constant 1
add
push constant 16
gt
and
push constant 0
eq
push constant 8000
add
push constant 1
call Memory.poke 10
push constant 8000
add
push constant 0
call Memory.poke 12
push constant false
return
push constant 0
eq
return
push constant 1
return
push constant 2
call Math.multiply 2
push constant 0
gt
call Memory.poke 5
push constant 1
neg
push constant 1
add
return
