function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
return
function Main.convert 3
push constant 1
neg
pop local 2
label 346
push local 2
if-goto 385
goto 447
label 385
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
if-goto 696
push argument 0
push local 0
and
push constant 0
eq
not
if-goto 554
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto 580
label 554
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label 580
goto 662
label 696
push constant 0
pop local 2
label 662
goto 346
label 447
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto 525
return
push constant 1
goto 596
label 525
return
push argument 0
push constant 2
call Math.multiply 2
label 596
function Main.fillMemory 0
label 263
push argument 1
push constant 0
gt
if-goto 423
goto 274
label 423
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto 263
label 274
return
