function Main.main 3
call Screen.clearScreen 0
pop temp 0
push constant 1
neg
pop local 2
push constant 10
push constant 108
push constant 20
push constant 148
call Rectangle.new 4
pop local 0
push constant 253
push constant 125
push constant 259
push constant 131
call Rectangle.new 4
pop local 1
push local 0
call Renderer.render 1
pop temp 0
push local 1
call Renderer.render 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 10
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
push constant 87
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 0
call Rectangle.getY1 1
push constant 1
sub
call Rectangle.setY1 2
pop temp 0
push local 0
push local 0
call Rectangle.getY2 1
push constant 1
sub
call Rectangle.setY2 2
pop temp 0
label IF_FALSE0
call Keyboard.keyPressed 0
push constant 83
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 0
call Rectangle.getY1 1
push constant 1
add
call Rectangle.setY1 2
pop temp 0
push local 0
push local 0
call Rectangle.getY2 1
push constant 1
add
call Rectangle.setY2 2
pop temp 0
label IF_FALSE1
push local 1
call Rectangle.getX1 1
push local 0
call Rectangle.getX2 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop local 2
label IF_FALSE2
push local 1
call Rectangle.getX2 1
push constant 511
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
pop local 2
label IF_FALSE3
push local 1
call Rectangle.getX1 1
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 1
push constant 253
call Rectangle.setX1 2
pop temp 0
push local 1
push constant 259
call Rectangle.setX2 2
pop temp 0
label IF_FALSE4
push local 1
push local 1
call Rectangle.getX1 1
push local 2
add
call Rectangle.setX1 2
pop temp 0
push local 1
push local 1
call Rectangle.getX2 1
push local 2
add
call Rectangle.setX2 2
pop temp 0
call Screen.clearScreen 0
pop temp 0
push local 1
call Renderer.render 1
pop temp 0
push local 0
call Renderer.render 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
